:root {
    --background-color-dark: #2b2b2b;
    --background-color-filled: #a259ff;
    --text-color-light: #ffff;

    --font-base:16px;
    --font-h5: 22px;
}
body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    background-color: var(--background-color-dark);
    font-family: "Work Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1050px;
    border: 1px solid red;
}
.logo img{
    width: 243px;
    height: 32px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.header__descktop-menu {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.header__item {
    padding: 12px 20px;
}
.header__link {
    display: inline-block;
    color: var(--text-color-light);
    font-weight: 600;
    transition: 0.3s;
}
.header__link:hover {
    transform: scale(0.95);
}
.button {
    border-radius: 20px;
    color: var(--text-color-light);
    padding-inline: 50px;
    font-weight: 600;
    display: flex;
    column-gap: 12px;
}
.button img {
    width: 20px;
    height: 20px;
}
.button_filled {
    background-color: var(--background-color-filled );
}

.button_secondary {
    padding-block: 20.5px;
    font-size: var(--font-base);
}